@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    /* background-color: #000; */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Urbanist', sans-serif;
    /* overflow-x: hidden; */
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

.header h1 {
    font-weight: lighter;
    font-size: 3.5rem;
    font-family: 'Parisienne', cursive;
    text-align: center;
}

.header h2 {
    font-weight: lighter;
    font-size: 2rem;
    text-align: center;
}

.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 100%;
}

.header .logo img {
    width: 50%;
}

.menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    margin-bottom: 10rem;
}

.menu-section .menu-items {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    width: 100%;
}

.menu-section .menu-items .menu-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-section .menu-items .menu-item .item-info {
    text-align: justify;
}

.menu-section .menu-items .menu-item .item-info .price {
    font-variant-numeric: tabular-nums;
    font-family: 'Gravitas One', cursive;
    font-weight: lighter;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}